@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicRegular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicSemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothicThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
